*{
    margin:0;
    padding:0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.up-button{
    font-size:36px;
    position: fixed;
    bottom:20px;
    right:20px;
    width:64px;
    height:64px;
    background-color: skyblue;
    color:#fff;
    text-shadow: 0px 0px 3px #000;
    cursor: pointer;
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
}
.main{
    margin: 50px;
}
.more-sign{
    margin:50px 0px 30px 0px;
    display: flex;
}
.more-sign__item{
    font-size: 20px;
    margin:auto 10px;
}
.goods-cards{
    display: flex;
    justify-content: flex-start;
}
.goods-cards__items{
    width:calc(100%/6);
    padding:10px;
    border-right:2px solid #bababa;
    border-bottom:2px solid #bababa;
}
.goods-cards__element-img img{
    width:60%;
}
.goods-cards__element-img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.goods-cards__heart-sign{
    float: right;
    margin:10px 20px;
}
.goods-cards__info{
    margin:20px 10px;
}
.goods-cards__subtitle{
    font-size: 16px;
    word-wrap: break-word;
}
.new_price{
    color:red !important;
}
.goods-cards__old-price{
 color:#bababa;
 font-size: 14px;
 min-height: 20px;
 margin:5px auto;
text-decoration: line-through #bababa;   
}
.goods-cards__price{
    font-size: 20px ;
    font-weight: 500;
}
.goods-cards__items:hover + .get-more{
    background-color: red;
}
.get-more{
    float: right;
    color:skyblue;
    cursor: pointer;
    margin:10px 100px;
}
